/* ==============================
   job-card-indepth.blade.css
   ============================== */

@media(min-width:768px) {
    .job-details {
        overflow-y: auto;
        height: 40vh;
    }

}

/* ==============================
   job-card.blade.css
   ============================== */

.job-card.active {
    border-left: 5px solid #0d6efd !important;
    background-color: #f8f9fa;
}
