/* ==============
   home.blade.php 
   ==============*/

.content-margin-home {
    margin-top: 60px;
}

.hero-section {
    height: 20rem;
}

.feature-position {
    position: absolute;
    top: -15px;
}

/* max-sm */
@media (max-width:576px) {
    .shadow-on {
        box-shadow: 0px 0px 10px gray;
    }

    .feature-position {
        width: 80vw;
    }

    .home-container {
        height: 110vh;
    }

}

/* sm */
@media (min-width:576px) {
    .content-margin-home {
        margin-top: 65px;
    }

    .hero-section {
        height: 22rem;
    }

    .feature-position {
        position: absolute;
        top: -80px;
    }

}

/* md */
@media (min-width:768px) {
    .content-margin-home {
        margin-top: 70px;
    }

    .feature-position {
        width: 90vw;
    }

    /* .home-container { */
        /* background-image: linear-gradient(to top, #fff1eb 40%, #ace0f9 100%); */
        /* background-image: linear-gradient(to top, #dfe9f3 65%, white 100%); */
        /* background-image: linear-gradient(to top, #fcf0eb 40%, #cde7f4 100%); */
    /* } */

}

@media (max-width:768px) {
    /* .hero-section { */
        /* background-image: linear-gradient(to top, #fff8f5 40%, #c3e6f7 100%); */
        /* background-image: linear-gradient(to top, #fcf0eb 40%, #cde7f4 100%); */
    /* } */
}

/* lg */
@media (min-width:992px) {
    .content-margin-home {
        margin-top: 75px;
    }

    .feature-position {
        width: 75vw;
    }

    
    .hero-section {
        height: 23rem;
    }

}

/* xl */
@media (min-width:1200px) {
    .content-margin-home {
        margin-top: 80px;
    }
}

/* xxl */
@media (min-width:1400px) {
    .content-margin-home {
        margin-top: 85px;
    }

}

/* ==============
   index.blade.php 
   ==============*/

.content-margin {
    margin-top: 90px;
}

/* sm */
@media (min-width:576px) {
    .content-margin {
        margin-top: 100px;
    }
}

/* md */
@media (min-width:768px) {
    .content-margin {
        margin-top: 120px;
    }
}

/* lg */
@media (min-width:992px) {
    .content-margin {
        margin-top: 130px;
    }
}

/* xl */
@media (min-width:1200px) {
    .content-margin {
        margin-top: 140px;
    }
}

/* xxl */
@media (min-width:1400px) {
    .content-margin {
        margin-top: 150px;
    }
}

/* 375px*/
@media (min-width:375px) {
    .width {
        max-width: 90vw;
    }
}

/* xl */
@media (min-width:1101px) {
    .width {
        max-width: 80vw;
    }
}

/* md */
@media (min-width:768px) {
    .search-btn {
        width: 15em;
    }

    .search-section {
        max-width: 85%;
    }

}

/* ===================
   companies.blade.php 
   ===================*/

.comp-category-card {
    height: 3.5rem;
}

.company-page {
    width: 100vw;
}

/* max-sm */
@media (max-width:576px) {

    .company-page-child {
        max-width: 23rem;
    }

}

/* sm */
@media (min-width:576px) {

    .company-page-child {
        width: 85%;
    }

}

/* md */
@media (min-width:768px) {
    .comp-category-card {
        height: 4rem;
    }

    .company-page-child {
        width: 75%;
    }
}


/* =======================
   user_account.blade.php
   ======================= */

.profile-img {
    height: 5.5rem;
}
.user-acc-container {
    min-height: 89vh;
}

.image-name {
    flex-direction: column-reverse;
    align-items: center;
    gap: 1rem;
}

.text-truncate {
    max-width: 9rem;
}

@media (min-width:576px) {
    .image-name {
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }

    .profile-img {
        height: 5.5rem;
    }

    .text-truncate {
        max-width: 20rem;
    }
}

@media (min-width:992px) {
    .user-acc-container {
        max-width: 60vw;
    }

    .profile-img {
        height: 100px;
    }
}

@media (min-width:1200px) {
    .user-acc-container {
        max-width: 50vw;
    }

    .profile-img {
        height: 100px;
    }
}